<form [formGroup]="userForm" (ngSubmit)="onSubmit()" #myForm>
    <mat-card class="example-card">
        <mat-card-header>
            @if(isEdit){
            <div>add user</div>
            }
            @else{
            <div>Edit user</div>
            }
        </mat-card-header>
        <mat-card-content>


            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput type="text" name="name" placeholder="name" formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="email" name="email" placeholder="email" formControlName="email">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="primary" type="submit" value="Send"
                [disabled]="!userForm.valid">send</button>
        </mat-card-actions>
    </mat-card>
</form>